html, body {
    margin:0;
    padding: 0;
}

.image .name {
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image {
    opacity: 0.5;
    position: relative;
    text-align: center;
}

.image:hover {
   opacity: 1;
}

.image .reward {
    background-color: hsl(240, 100%, 99%, 0.5);
    border-radius: 15px;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    color: black;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image .reward span {
    color: red;
 
}